$othercolor: gold;
$secondarycolor: white;
$primarycolor: black;
$darkcolor:#0A2647;
$darkcolor2:#144272;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height:100%;
  background: linear-gradient(to right,#0A2647,#144272);
 
  a{
    text-decoration: none;
  }  
}


html {
  scroll-behavior: smooth;
}
nav {
  padding-left: 80%;
  padding-top: 10px;
  position: fixed;
  left:0%;
  Top:0%;
  height: 50px;
  width: 100%;
  background-color: black;
 
  .nav_a {
    font-size: 15px;
    padding-right: 25px;
    text-decoration: none;
    color:$secondarycolor;
  
  }
  
}
.nav1{
  display: none;
}

 
@media (max-width:980px){
  nav {
    
    display: none;
      }
      .nav1{
        width:100%;
        position: fixed;
        top:0%;
         display: block;
         height: 50px;
         padding-left: 85%;
         padding-top: 10px;
         background-color: black;
        //  height: 60px;
      .nav_a {
        font-size: 13px;
        padding-right: 2px;
         color: white;
      }
      button {
        display: inline-block;
        position: relative;
        background-color: transparent;
        color: white;
        padding: 13px;
        transition: all 0.5s;
        border: none;
        cursor: pointer;
        width:100px;
       
        i{
          font-size: 30px;
          
        }
        .menu {
          position: absolute;
          
          // background-color: aqua;
          top: 100%;
          left: 0;
          width: 100%;
          display: none;
          transition: all 0.5s;
          a {
            display: block;
            padding: 1rem;
            // background-color: black;
            color: white;
            transition: all 0.5s;
            &:hover {
              background-color: black;
            }
          }
        }
        &:hover {
          .menu {
            display: block;
          }
        }
      }
  }
  }
  
@media (max-width: 790px){
  .nav1{
    padding-left: 80%;
 
 }
}

@media (max-width: 478px){
  .nav1{
     padding-left: 75%;
  
  }
} 
#Home{
  display: flex;
  gap: 3rem;
  width: 90%;
  // height: 80%;
  // padding: 20px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  // background: linear-gradient(to right,#E55604,#E55604);

.card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: $secondarycolor;
  margin-left: 40px;
  border-radius: 20px;
  background-color: $primarycolor;
  border: 1px solid $secondarycolor;

  .skills {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .contact_me {
    padding: 8px;
    width: 130px;
    border-radius: 20px;
    
  }
  
  .skills_1 {
    gap: 2rem;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    
  }
  .front_end {
    font-size: 35px;
    padding-top: 20px;
    color: $secondarycolor;
  }
  .profile {
    font-size: 15px;
    padding-top: 20px;
  }
  .links {
    display:flex;
    gap:2rem;
    font-size: 25px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
   
  }
  
  .links_a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
   
  }
  .links a {
    display: flex;
    width: 25px;
    padding: 10px;
    color: $secondarycolor;
    padding: 12px;
    width: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-size: 13px;
    color:orange;
  }
  h1 {
    color: $secondarycolor;
  }
}
  .card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    // border-radius: 20px;
    // object-fit: co;
    overflow: hidden;
    border: 1px solid ;
    border-radius: 30px;
  
    .mine {
      
      width: 100%;
      height: 100%;
     
    }
  
  }
}

// #Home1{
//   display:none
// }
#Home1{
  display: flex;
  display: none;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  // margin-left: 50px;
  // background: linear-gradient(to right,#E55604,#E55604);

.card1 {
  width: 60%;
  height: 65%;
  padding: 30px;
  color: $secondarycolor;
  // margin-top: 40px;
  border-radius: 20px;
  // background-color: $primarycolor;
  // border: 1px solid $secondarycolor;

  .skills {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .contact_me {
    padding: 8px;
    width: 130px;
    border-radius: 20px;
    
  }
  
  .skills_1 {
    display: flex;
    font-size: 15px;
    padding-top: 10px;
   

  }
  .skill{
    display: flex;
    flex-direction: column;
    gap:2rem;
  }
  .front_end {
    font-size: 35px;
    padding-top: 20px;
    color: orange;
  }
  .profile {
    font-size: 15px;
    padding-top: 20px;
  }
  .links {
    display:flex;
    font-size: 25px;
    padding-top: 30px;
  }
  .links a {
    width: 25px;
    padding: 10px;
    color: $secondarycolor;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h4 {
    font-size: 13px;
    color: orange;
  }
  h1 {
    color: orange;
  }
}
.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 35%;
  // border-radius: 20px;
  // object-fit: co;
 
  overflow: hidden;
  border: 1px solid ;
  border-radius: 30px;

  .mine {
    
    width: 100%;
    height: 100%;
   
  }

} 
}
@media (max-width:980px){
  #Home{
    display: none;
  }
  #Home1{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    // padding: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    
  .card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  .skills h4{
    font-size: 15px;
  } 
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 13px;
      gap: 1em;
   
    }
    .contact_me {
      padding: 3px;
      width: 100px; 
      font-size: 15px;
    }
    
    .skills_1 {
      display: flex;
      // align-items: center;
      // justify-content: center;
      
      gap: 10rem;
      font-size: 15px;
      padding-top: 0px;
      
    }
    .front_end {
      font-size:20px;
      padding-top: 2px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .profile {
      font-size: 15px;
      padding-top: 2px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .links {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .links a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      padding: 10px;
     font-size: 20px;
     border-radius: 40px;
     margin-left: 20px;
     
  }
  .links_a{
    display: flex;
    // align-items: center;
    // justify-content: center;
    gap:3rem;
   
  }
     h4 {
      font-size: 28px;
      
    }
    h1 {
      font-size: 15px;
      color:orange;
    }
  }
  
    .card2 {
    
      width: 30%;
      height: 40%;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid black;
      .mine {
        width: 100%;
        height: 100%;
      }
    }   
  } 
}

@media (max-width: 790px){
  #Home1{ 
    gap: 1rem;
    width: 100%;
    height: 100%;
    // padding: 20px;
    margin-top: 50px;
    margin-left: 0px;
    
  .card1 {
   
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
   
  .skills h4{
    font-size: 13px;
  } 
    .skills {
      padding-top: 13px;
      gap: 0.5em;
   
    }
    .contact_me {
      padding: 3px;
      width: 100px; 
      font-size: 10px;
    }
    
    .skills_1 {
      
      gap: 5rem;
      font-size: 15px;
      padding-top: 0px;
      
    }
    .front_end {
      font-size:15px;
      
      
    }
    .profile {
      font-size: 15px;
      
    }
    .links_a{
      gap:3rem;
    }
    .links {
      padding-top: 20px; 
      gap: 1.5rem;
    }
    .links a {
      width: 40px;
      padding: 10px;
     font-size: 16px;
     border-radius: 30px;
     margin-left: 0px;
  }
  
     h4 {
      font-size: 28px;
      
    }
    h1 {
      font-size: 15px;
    }
  }
  
    .card2 {
      width: 40%;
      height: 40%;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid black;
      .mine {
        width: 100%;
        height: 100%;
      }
    }   
  } 
}


@media (max-width: 478px){
  
  #Home1{ 
    gap: 1rem;
    width: 100%;
    height: 100%;
    // padding: 20px;
    margin-top: 50px;
    margin-left: 0px;
    
  .card1 {
   
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
   
  .skills h4{
    font-size: 13px;
  } 
    .skills {
      
      padding-top: 13px;
      gap: 0.5em;
   
    }
    .contact_me {
      padding: 3px;
      width: 100px; 
      font-size: 10px;
    }
    
    .skills_1 {
      gap:3rem;
      justify-content: space-between;
      font-size: 16px;
      padding-top: 0px;
      
    }
    .front_end {
      font-size:15px;
      padding-left: 10px;
      padding-right: 10px;

      
    }
    .profile {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .links_a{
      gap:2rem;
    }
    .links {
    
      padding-top: 20px;
       gap: 1.5rem;
    }
    .links a {
 
    padding: 10px;
    width: 40px;
    font-size: 20px;
    margin-left: 0px;
    border-radius: 40px;
  }
  
     h4 {
      font-size: 28px;
      
    }
    h1 {
      font-size: 15px;
    }
  }
  
    .card2 {
     
      width: 60%;
      height: 40%;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid black;
      .mine {
        width: 100%;
        height: 100%;
      }
    }   
  } 
}

#Contact {
  width: 95%;
  // height: 100%;
  padding: 20px;
  margin-left: 25px;
  margin-top: 50px;
  // border-radius: 20px;
  background-color: $primarycolor;
  // border: 1px solid $secondarycolor;

  .links_1 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap:2rem;
  }
  .contact_me {
    padding: 5px;
    width: 130px;
    border-radius: 20px;
  }
  .linksa{
    display: flex;
    align-items: center;
    color:white;
    gap:2rem;
  }
  // .link{
  //   display: flex;
  //   align-items: center;
  //   gap:5rem;
  // }
  .linksa a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondarycolor;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h1 {
    color: $secondarycolor;
    font-size: 43px;
  }
  p {
    font-size: 15px;
    color: $secondarycolor;
  }
  
}
#Contact1{
  display: none;
}

@media (max-width: 980px){
}


@media (max-width: 790px){
  
#Contact {

  margin-left: 10px;
 
}
}
@media (max-width: 478px){
  #Contact{
    display: none;
  }

  #Contact1{
    display: block;
    width: 80%;
    padding: 20px;
    // margin-bottom: 10px;
    margin-left: 42px;
    background-color: $primarycolor;
    // border: 1px solid $secondarycolor;
  .links_1 {
   display: flex;
   flex-direction: column;
    padding-top: 30px;
   gap:1rem;
  }
 
  .linksa{
    display: flex;
    flex-direction: column;
    color:white;
    gap:3rem;
  }
  .link{
    display: flex;
    align-items: center;
    gap:1rem;
  }
  .contact_me {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
  }
  .linksa a {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: $secondarycolor;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
 
  }
  h1 {
    
    font-size: 20px;
    color: $secondarycolor;
  }
  p {
    font-size: 13px;
    color: $secondarycolor;
  }
}
}

#project {
  display: flex;
  flex-direction: column;
  .first_card{
    display: grid;
    padding: 0 4rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
  }

  .second_card{ 
    
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card1_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    // border-radius: 20px;
    background-color: $primarycolor;
    // border: 1px solid $secondarycolor;
  
  }
  
  .card2_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    // border-radius: 20px;
    background-color: $primarycolor;
    // border: 1px solid $secondarycolor;
  
  }
  .card3_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    // border-radius: 20px;
    background-color: $primarycolor;
    // border: 1px solid $secondarycolor;
  }
  .card4_project {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    // border-radius: 20px;
    background-color:$primarycolor;
    // border: 1px solid$;
  }
    .title {
      padding: 15px;
      font-size: 20px;
      color: $secondarycolor;
    }
    .description {
      gap: 13rem;
      padding: 5px;
      display: flex;
      font-size: 15px;
      color: $secondarycolor;
    }
    a {
      font-size: 35px;
      color:$secondarycolor
    }
    .proj_image {
      width: 80%;
      height: 50%;
      object-fit: cover;
    
    }
    .proj_image1{
      width: 80%;
      height: 20%;
      object-fit: cover;
    }
  
}

@media (max-width: 980px){
  #project {
    display: flex;
    flex-direction: column;
    height: 100%;
    .first_card{
      display: grid;
      padding: 0rem;
      height: 50%;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      
    }
  
    .second_card{    
    display: grid;
    padding: 0rem;
    height: 50%;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    .card1_project{
      
      height: 95%;
      width:85%;
      
    
    }
    
    .card2_project{
      
      height: 95%;
      width:85%;
      
     
    
    }
    .card3_project{
     
      height: 95%;
      width:85%;
      
      
    }
    .card4_project {
      
      height: 95%;
      width:85%;
      
      
    }
      .title {
        padding: 10px;
        font-size: 15px;
       
      }
      .description {
        gap: 8rem;
        padding: 2px;
         font-size: 10px;
        
      }
      a {
        font-size: 30px;
        
      }  
  }
}
@media (max-width: 790px){
  #project {
  .description {
    gap: 5rem;
    
    
  }
}
}
@media (max-width: 478px){
  #project {
    .description {
      gap: 5rem;
    }
    .card1_project{
      
      height: 95%;
      width:80%;
      
    
    }
    
    .card2_project{
      
      height: 95%;
      width:80%;
      
     
    
    }
    .card3_project{
     
      height: 95%;
      width:80%;
      
      
    }
    .card4_project {
      
      height: 95%;
      width:80%;
      
      
    }
  }
  }
