* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #0A2647, #144272);
}

html {
  scroll-behavior: smooth;
}

nav {
  padding-left: 80%;
  padding-top: 10px;
}
nav .nav_a {
  font-size: 15px;
  padding-right: 25px;
  text-decoration: none;
  color: white;
}

#Home {
  display: flex;
  gap: 3rem;
  width: 90%;
  height: 80%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
#Home .card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: white;
  margin-left: 40px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid pink;
}
#Home .card1 .skills {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
#Home .card1 .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Home .card1 .skills_1 {
  gap: 2rem;
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
#Home .card1 .front_end {
  font-size: 35px;
  padding-top: 20px;
  color: white;
}
#Home .card1 .profile {
  font-size: 15px;
  padding-top: 20px;
}
#Home .card1 .links {
  font-size: 25px;
  padding-top: 30px;
}
#Home .card1 .links a {
  width: 25px;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
}
#Home .card1 h4 {
  font-size: 13px;
  color: white;
}
#Home .card1 h1 {
  color: white;
}
#Home .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 40%;
  height: 90%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#Home .card2 .mine {
  width: 100%;
  height: 100%;
}

#Contact {
  width: 80%;
  height: 20%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 130px;
  border-radius: 20px;
  background-color: black;
}
#Contact .links_1 {
  padding-top: 100px;
}
#Contact .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Contact .links_1 a {
  width: 30px;
  height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: black;
}
#Contact h1 {
  color: white;
  font-size: 43px;
}
#Contact p {
  font-size: 15px;
  color: white;
}

#project {
  display: flex;
  flex-direction: column;
}
#project .first_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .second_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .card1_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
}
#project .card2_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
}
#project .card3_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
}
#project .card4_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
}
#project .title {
  padding: 15px;
  font-size: 20px;
  color: white;
}
#project .description {
  gap: 16rem;
  padding: 5px;
  display: flex;
  font-size: 15px;
  color: white;
}
#project a {
  font-size: 35px;
}
#project .proj_image {
  width: 80%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .proj_image1 {
  width: 80%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */