$othercolor: gold;
$secondarycolor: white;
$primarycolor: black;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{

  height:100vh;
 
   background: linear-gradient(to right,#0A2647,#144272);
}

.dark-theme{
  --primary:#0f172a;
  --secondary:#f97316;
}
html {
  scroll-behavior: smooth;
}
nav {
  padding-left: 80%;
  padding-top: 10px;
  .nav_a {
    font-size: 15px;
    padding-right: 25px;
    text-decoration: none;
    color:$secondarycolor;
  }
}
@media (max-width: 478px){
  nav {
    padding-left: 20%;
    // padding-top: 10px;
  
    .nav_a {
      font-size: 10px;
      padding-right: 2px;
    }
  }
}
#Home{
  display: flex;
  gap: 3rem;
  width: 90%;
  height: 80%;
  // padding: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

  // background: linear-gradient(to right,#E55604,#E55604);

.card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: $secondarycolor;
  margin-left: 40px;
  border-radius: 20px;
  background-color: $primarycolor;
  border: 1px solid $secondarycolor;

  .skills {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .contact_me {
    padding: 8px;
    width: 130px;
    border-radius: 20px;
    
  }
  
  .skills_1 {
    gap: 2rem;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    
  }
  .front_end {
    font-size: 35px;
    padding-top: 20px;
    color: $secondarycolor;
  }
  .profile {
    font-size: 15px;
    padding-top: 20px;
  }
  .links {
    display:flex;

    font-size: 25px;
    padding-top: 30px;

   
  }
  .links a {
    width: 25px;
 padding: 10px;
    color: $secondarycolor;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h4 {
    font-size: 13px;
    color: $secondarycolor;
  }
  h1 {
    color: $secondarycolor;
  }
}
  .card2 {
    display: flex;
    align-items: center;
    justify-content: center;
     gap:4rem;
    width: 40%;
    height: 90%;
    border-radius: 20px;
      object-fit: cover;
      overflow: hidden;
      border: 1px solid $primarycolor;
  
    .mine {
      width: 100%;
      height: 100%;
    }
  
  }

}

@media (max-width: 478px){
  #Home{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 80%;
    // padding: 20px;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  
  .card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
     align-items: center;
     justify-content: center;
  .skills h4{
    font-size: 15px;
  }
  
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
    
    }
    .contact_me {
      padding: 3px;
      width: 100px; 
      font-size: 15px;
    }
    
    .skills_1 {
      gap: 2rem;
      font-size: 10px;
      padding-top: 0px;
      
    }
    .front_end {
      font-size:20px;
      padding-top: 2px;
      
    }
    .profile {
      font-size: 15px;
      padding-top: 2px;
    }
    .links {
      display: flex;
      flex-direction: column;
      padding-top: 1px;
      align-items: center;
      justify-content: center;
     
    }
    .links a {
      
      width: 30px;
      padding: 5px;
     font-size: 16px;
      margin-left: 0px;
      
  }
  .links_a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
  }
     h4 {
      font-size: 28px;
      
    }
    h1 {
      font-size: 25px;
    }
  }
  
    .card2 {
     
      width: 100%;
      height: 40%;
    }   
  } 
}

#Contact {
  width: 80%;
  height: 20%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 130px;
  border-radius: 20px;
  background-color: $primarycolor;
  border: 1px solid $secondarycolor;

  .links_1 {
    padding-top: 100px;
  }
  .contact_me {
    padding: 5px;
    width: 130px;
    border-radius: 20px;
  }
  .links_1 a {
    width: 15px;
    padding: 5px;
    color: $secondarycolor;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h1 {
    color: $secondarycolor;
    font-size: 43px;
  }
  p {
    font-size: 15px;
    color: $secondarycolor;
  }
  
}
@media (max-width: 478px){
  #Contact{
    width: 95%;
    height: 20%;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
  
  .links_1 {
    
    padding-top: 30px;
   
  }
  .contact_me {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
  }
  .links_1 a {
    width: 20px;
    padding: 5px;
    
    font-size: 15px;
    margin-left: 10px;
 
  }
  h1 {
    
    font-size: 20px;
  }
  p {
    font-size: 13px;
    
  }
}
}

#project {
  display: flex;
  flex-direction: column;
  .first_card{
    display: grid;
    padding: 0 4rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
  }

  .second_card{ 
    
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card1_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  
  }
  
  .card2_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  
  }
  .card3_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  }
  .card4_project {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color:$primarycolor;
    border: 1px solid $secondarycolor;
  }
    .title {
      padding: 15px;
      font-size: 20px;
      color: $secondarycolor;
    }
    .description {
      gap: 13rem;
      padding: 5px;
      display: flex;
      font-size: 15px;
      color: $secondarycolor;
    }
    a {
      font-size: 35px;
      color:$secondarycolor
    }
    .proj_image {
      width: 80%;
      height: 50%;
      object-fit: cover;
    
    }
    .proj_image1{
      width: 80%;
      height: 20%;
      object-fit: cover;
    }
  
}
@media (max-width: 478px){
  #project {
    display: flex;
    flex-direction: column;
    .first_card{
      display: grid;
      padding: 0 4rem;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      
    }
  
    .second_card{ 
// width:400px;
height:500px;

    }
    
    
    .card1_project{
      
      height: 100%;
      width:90%;
    
    
    }
    
    .card2_project{
      
      height: 90%;
      width:90%;
      
     
    
    }
    .card3_project{
     
      height: 100%;
      width:90%;
      
      
    }
    .card4_project {
      
      height: 90%;
      width:90%;
      
      
    }
      .title {
        padding: 10px;
        font-size: 15px;
       
      }
      .description {
        gap: 8rem;
        padding: 2px;
         font-size: 10px;
        
      }
      a {
        font-size: 30px;
        
      }
     
    
  }
}
