* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #0A2647, #144272);
}
body a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
  padding-left: 80%;
  padding-top: 10px;
}
nav .nav_a {
  font-size: 15px;
  padding-right: 25px;
  text-decoration: none;
  color: white;
}

.nav1 {
  display: none;
}

@media (max-width: 478px) {
  nav {
    display: none;
  }
  .nav1 {
    display: block;
    padding-left: 50%;
    padding-top: 10px;
  }
  .nav1 .nav_a {
    font-size: 13px;
    padding-right: 2px;
    color: white;
  }
}
#Home {
  display: flex;
  gap: 3rem;
  width: 90%;
  height: 80%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
#Home .card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: white;
  margin-left: 40px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#Home .card1 .skills {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
#Home .card1 .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Home .card1 .skills_1 {
  gap: 2rem;
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
#Home .card1 .front_end {
  font-size: 35px;
  padding-top: 20px;
  color: white;
}
#Home .card1 .profile {
  font-size: 15px;
  padding-top: 20px;
}
#Home .card1 .links {
  display: flex;
  font-size: 25px;
  padding-top: 30px;
}
#Home .card1 .links a {
  width: 25px;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
}
#Home .card1 h4 {
  font-size: 13px;
  color: white;
}
#Home .card1 h1 {
  color: white;
}
#Home .card2 {
  width: 40%;
  height: 60%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border: none;
}
#Home .card2 .mine {
  width: 100%;
  height: 100%;
}

#Home1 {
  display: flex;
  display: none;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
#Home1 .card1 {
  width: 60%;
  height: 60%;
  padding: 30px;
  color: white;
  border-radius: 20px;
}
#Home1 .card1 .skills {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
#Home1 .card1 .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Home1 .card1 .skills_1 {
  gap: 2rem;
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
#Home1 .card1 .front_end {
  font-size: 35px;
  padding-top: 20px;
  color: orange;
}
#Home1 .card1 .profile {
  font-size: 15px;
  padding-top: 20px;
}
#Home1 .card1 .links {
  display: flex;
  font-size: 25px;
  padding-top: 30px;
}
#Home1 .card1 .links a {
  width: 25px;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
}
#Home1 .card1 h4 {
  font-size: 13px;
  color: white;
}
#Home1 .card1 h1 {
  color: white;
}
#Home1 .card2 {
  width: 40%;
  height: 60%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border: none;
}
#Home1 .card2 .mine {
  width: 100%;
  height: 100%;
}

@media (max-width: 478px) {
  #Home {
    display: none;
  }
  #Home1 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  #Home1 .card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }
  #Home1 .card1 .skills h4 {
    font-size: 13px;
  }
  #Home1 .card1 .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  #Home1 .card1 .contact_me {
    padding: 3px;
    width: 100px;
    font-size: 10px;
  }
  #Home1 .card1 .skills_1 {
    gap: 2rem;
    font-size: 10px;
    padding-top: 0px;
  }
  #Home1 .card1 .front_end {
    font-size: 15px;
    padding-top: 2px;
  }
  #Home1 .card1 .profile {
    font-size: 15px;
    padding-top: 2px;
  }
  #Home1 .card1 .links {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
  }
  #Home1 .card1 .links a {
    width: 25px;
    padding: 5px;
    font-size: 16px;
    margin-left: 0px;
  }
  #Home1 .card1 .links_a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  #Home1 .card1 h4 {
    font-size: 28px;
  }
  #Home1 .card1 h1 {
    font-size: 15px;
  }
  #Home1 .card2 {
    width: 50%;
    height: 40%;
    border-radius: 50%;
  }
}
#Contact {
  width: 80%;
  height: 100%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 130px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#Contact .links_1 {
  padding-top: 100px;
}
#Contact .contact_me {
  padding: 5px;
  width: 130px;
  border-radius: 20px;
}
#Contact .links_1 a {
  width: 15px;
  padding: 5px;
  color: white;
  font-size: 15px;
  margin-left: 15px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
}
#Contact h1 {
  color: white;
  font-size: 43px;
}
#Contact p {
  font-size: 15px;
  color: white;
}

@media (max-width: 478px) {
  #Contact {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 20px;
  }
  #Contact .links_1 {
    padding-top: 30px;
  }
  #Contact .contact_me {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
  }
  #Contact .links_1 a {
    width: 20px;
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
  }
  #Contact h1 {
    font-size: 20px;
  }
  #Contact p {
    font-size: 13px;
  }
}
#project {
  display: flex;
  flex-direction: column;
}
#project .first_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .second_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .card1_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#project .card2_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#project .card3_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#project .card4_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#project .title {
  padding: 15px;
  font-size: 20px;
  color: white;
}
#project .description {
  gap: 13rem;
  padding: 5px;
  display: flex;
  font-size: 15px;
  color: white;
}
#project a {
  font-size: 35px;
  color: white;
}
#project .proj_image {
  width: 80%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .proj_image1 {
  width: 80%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 478px) {
  #project {
    display: flex;
    flex-direction: column;
  }
  #project .first_card {
    display: grid;
    padding: 0rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  #project .second_card {
    display: grid;
    padding: 0rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  #project .card1_project {
    height: 95%;
    width: 100%;
  }
  #project .card2_project {
    height: 95%;
    width: 100%;
  }
  #project .card3_project {
    height: 95%;
    width: 100%;
  }
  #project .card4_project {
    height: 95%;
    width: 100%;
  }
  #project .title {
    padding: 10px;
    font-size: 15px;
  }
  #project .description {
    gap: 8rem;
    padding: 2px;
    font-size: 10px;
  }
  #project a {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */