$othercolor: gold;
$secondarycolor: white;
$primarycolor: black;
$darkcolor:#0A2647;
$darkcolor2:#144272;

.dark-theme{
  $primary:black;
  $secondary:white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height:100%;
  background: linear-gradient(to right,#0A2647,#144272);
  a{
    text-decoration: none;
  }  
}


html {
  scroll-behavior: smooth;
}
nav {
  padding-left: 80%;
  padding-top: 10px;
  .nav_a {
    font-size: 15px;
    padding-right: 25px;
    text-decoration: none;
    color:$secondarycolor;
  }
  
}
.nav1{
  display: none;
}

 

// @media (max-width: px){
//   nav {
//     padding-left: 20%;
//     // padding-top: 10px;
  
//     .nav_a {
//       font-size: 10px;
//       padding-right: 2px;
//     }
//   }
// }
@media (max-width: 478px){
  nav {
    // padding-left: 20%;
    // padding-top: 10px;
    // .nav_a {
    //   font-size: 10px;
    //   padding-right: 2px;
    // }
  display: none;
    }
    .nav1{
      
       display: block;
       padding-left: 50%;
       padding-top: 10px;
    .nav_a {
      font-size: 13px;
      padding-right: 2px;
       color: white;
    }
    }
}
#Home{
  display: flex;
  gap: 3rem;
  width: 90%;
  // height: 80%;
  // padding: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  // background: linear-gradient(to right,#E55604,#E55604);

.card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: $secondarycolor;
  margin-left: 40px;
  border-radius: 20px;
  background-color: $primarycolor;
  border: 1px solid $secondarycolor;

  .skills {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .contact_me {
    padding: 8px;
    width: 130px;
    border-radius: 20px;
    
  }
  
  .skills_1 {
    gap: 2rem;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    
  }
  .front_end {
    font-size: 35px;
    padding-top: 20px;
    color: $secondarycolor;
  }
  .profile {
    font-size: 15px;
    padding-top: 20px;
  }
  .links {
    display:flex;

    font-size: 25px;
    padding-top: 30px;

   
  }
  .links a {
    width: 25px;
    padding: 10px;
    color: $secondarycolor;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h4 {
    font-size: 13px;
    color: $secondarycolor;
  }
  h1 {
    color: $secondarycolor;
  }
}
  .card2 {
    width: 40%;
    height: 60%;
    // border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
    border: none;
  
    .mine {
      width: 100%;
      height: 100%;
    }
  
  }
}

// #Home1{
//   display:none
// }
#Home1{
  display: flex;
  display: none;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  // margin-left: 50px;
  // background: linear-gradient(to right,#E55604,#E55604);

.card1 {
  width: 60%;
  height: 60%;
  padding: 30px;
  color: $secondarycolor;
  // margin-left: 40px;
  border-radius: 20px;
  // background-color: $primarycolor;
  // border: 1px solid $secondarycolor;

  .skills {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }
  .contact_me {
    padding: 8px;
    width: 130px;
    border-radius: 20px;
    
  }
  
  .skills_1 {
    gap: 2rem;
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    
  }
  .front_end {
    font-size: 35px;
    padding-top: 20px;
    color: orange;
  }
  .profile {
    font-size: 15px;
    padding-top: 20px;
  }
  .links {
    display:flex;
    font-size: 25px;
    padding-top: 30px;
  }
  .links a {
    width: 25px;
    padding: 10px;
    color: $secondarycolor;
    font-size: 18px;
    // margin-left: 20px;
    border-radius: 10px;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h4 {
    font-size: 13px;
    color: $secondarycolor;
  }
  h1 {
    color: $secondarycolor;
  }
}
  .card2 {
   
    width: 40%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: none;
  
    .mine {
      width: 100%;
      height: 100%;
    }
    
  }
}
@media (max-width:1059px){
}

@media (max-width: 980px){
}


@media (max-width: 790px){
}

@media (max-width: 478px){
  #Home{
    display: none;
  }
  #Home1{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    // padding: 20px;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    
  .card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  .skills h4{
    font-size: 13px;
  } 
    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 13px;
      gap: 0.5em;
   
    }
    .contact_me {
      padding: 3px;
      width: 100px; 
      font-size: 10px;
    }
    
    .skills_1 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      font-size: 12px;
      padding-top: 0px;
      
    }
    .front_end {
      font-size:15px;
      padding-top: 2px;
      
    }
    .profile {
      font-size: 15px;
      padding-top: 2px;
    }
    .links {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      align-items: center;
      justify-content: center;
     gap: 1rem;
    }
    .links a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      padding: 10px;
     font-size: 16px;
     border-radius: 50px;
     margin-left: 20px; 
  }
  .links_a{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
     h4 {
      font-size: 28px;
      
    }
    h1 {
      font-size: 15px;
    }
  }
  
    .card2 {
     
      width: 60%;
      height: 40%;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid black;
      .mine {
        width: 100%;
        height: 100%;
      }
    }   
  } 
}

#Contact {
  width: 80%;
  // height: 100%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 130px;
  border-radius: 20px;
  background-color: $primarycolor;
  border: 1px solid $secondarycolor;

  .links_1 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .contact_me {
    padding: 5px;
    width: 130px;
    border-radius: 20px;
  }
  .linksa{
    display: flex;
    gap:2rem;
    color:white;
  }
  .link{
    display: flex;
    align-items: center;
    gap:2rem;
  }
  .linksa a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 10px;
    color: $secondarycolor;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 40%;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h1 {
    color: $secondarycolor;
    font-size: 43px;
  }
  p {
    font-size: 15px;
    color: $secondarycolor;
  }
  
}
#Contact1{
  display: none;
}
@media (max-width:1059px){
}

@media (max-width: 980px){
}


@media (max-width: 790px){
}
@media (max-width: 478px){
  #Contact{
    display: none;
  }

  #Contact1{
    display: block;
    width: 100%;
    // height: 100%;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  .links_1 {
   display: flex;
   flex-direction: column;
    padding-top: 30px;
   gap:1rem;
  }
  .linksa{
    color:white;
  }
  .contact_me {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
  }
  .linksa a {
    align-items: center;
    justify-content: center; 
    padding: 10px;
    width: 50px;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 50px;
    color: $secondarycolor;
    border: 1px solid $secondarycolor;
    background-color: $primarycolor;
  }
  h1 {
    
    font-size: 20px;
    color: $secondarycolor;
  }
  p {
    font-size: 13px;
    color: $secondarycolor;
  }
}
}

#project {
  display: flex;
  flex-direction: column;
  .first_card{
    display: grid;
    padding: 0 4rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
  }

  .second_card{ 
    
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card1_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  
  }
  
  .card2_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  
  }
  .card3_project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: $primarycolor;
    border: 1px solid $secondarycolor;
  }
  .card4_project {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color:$primarycolor;
    border: 1px solid $secondarycolor;
  }
    .title {
      padding: 15px;
      font-size: 20px;
      color: $secondarycolor;
    }
    .description {
      gap: 13rem;
      padding: 5px;
      display: flex;
      font-size: 15px;
      color: $secondarycolor;
    }
    a {
      font-size: 35px;
      color:$secondarycolor
    }
    .proj_image {
      width: 80%;
      height: 50%;
      object-fit: cover;
    
    }
    .proj_image1{
      width: 80%;
      height: 20%;
      object-fit: cover;
    }
  
}
@media (max-width:1059px){
}

@media (max-width: 980px){
}


@media (max-width: 790px){
}
@media (max-width: 478px){
  #project {
    display: flex;
    flex-direction: column;
  height: 100%;
    .first_card{
      display: grid;
      padding: 0rem;
      height: 50%;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      
    }
  
    .second_card{    
    display: grid;
    padding: 0rem;
    height: 50%;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    .card1_project{
      
      height: 95%;
      width:100%;
      
    
    }
    
    .card2_project{
      
      height: 95%;
      width:100%;
      
     
    
    }
    .card3_project{
     
      height: 95%;
      width:100%;
      
      
    }
    .card4_project {
      
      height: 95%;
      width:100%;
      
      
    }
      .title {
        padding: 10px;
        font-size: 15px;
       
      }
      .description {
        gap: 8rem;
        padding: 2px;
         font-size: 10px;
        
      }
      a {
        font-size: 30px;
        
      }  
  }
}
