* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(to right, #0A2647, #144272);
}
body a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
  padding-left: 80%;
  padding-top: 10px;
  position: fixed;
  left: 0%;
  Top: 0%;
  height: 50px;
  width: 100%;
  background-color: black;
}
nav .nav_a {
  font-size: 15px;
  padding-right: 25px;
  text-decoration: none;
  color: white;
}

.nav1 {
  display: none;
}

@media (max-width: 980px) {
  nav {
    display: none;
  }
  .nav1 {
    width: 100%;
    position: fixed;
    top: 0%;
    display: block;
    height: 50px;
    padding-left: 85%;
    padding-top: 10px;
    background-color: black;
  }
  .nav1 .nav_a {
    font-size: 13px;
    padding-right: 2px;
    color: white;
  }
  .nav1 button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    color: white;
    padding: 13px;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  .nav1 button i {
    font-size: 30px;
  }
  .nav1 button .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    transition: all 0.5s;
  }
  .nav1 button .menu a {
    display: block;
    padding: 1rem;
    color: white;
    transition: all 0.5s;
  }
  .nav1 button .menu a:hover {
    background-color: black;
  }
  .nav1 button:hover .menu {
    display: block;
  }
}
@media (max-width: 790px) {
  .nav1 {
    padding-left: 80%;
  }
}
@media (max-width: 478px) {
  .nav1 {
    padding-left: 75%;
  }
}
#Home {
  display: flex;
  gap: 3rem;
  width: 90%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
#Home .card1 {
  width: 60%;
  height: 90%;
  padding: 30px;
  color: white;
  margin-left: 40px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
}
#Home .card1 .skills {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
#Home .card1 .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Home .card1 .skills_1 {
  gap: 2rem;
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
#Home .card1 .front_end {
  font-size: 35px;
  padding-top: 20px;
  color: white;
}
#Home .card1 .profile {
  font-size: 15px;
  padding-top: 20px;
}
#Home .card1 .links {
  display: flex;
  gap: 2rem;
  font-size: 25px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}
#Home .card1 .links_a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#Home .card1 .links a {
  display: flex;
  width: 25px;
  padding: 10px;
  color: white;
  padding: 12px;
  width: 50px;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: black;
  align-items: center;
  justify-content: center;
}
#Home .card1 h4 {
  font-size: 13px;
  color: orange;
}
#Home .card1 h1 {
  color: white;
}
#Home .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  overflow: hidden;
  border: 1px solid;
  border-radius: 30px;
}
#Home .card2 .mine {
  width: 100%;
  height: 100%;
}

#Home1 {
  display: flex;
  display: none;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
#Home1 .card1 {
  width: 60%;
  height: 65%;
  padding: 30px;
  color: white;
  border-radius: 20px;
}
#Home1 .card1 .skills {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}
#Home1 .card1 .contact_me {
  padding: 8px;
  width: 130px;
  border-radius: 20px;
}
#Home1 .card1 .skills_1 {
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
#Home1 .card1 .skill {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#Home1 .card1 .front_end {
  font-size: 35px;
  padding-top: 20px;
  color: orange;
}
#Home1 .card1 .profile {
  font-size: 15px;
  padding-top: 20px;
}
#Home1 .card1 .links {
  display: flex;
  font-size: 25px;
  padding-top: 30px;
}
#Home1 .card1 .links a {
  width: 25px;
  padding: 10px;
  color: white;
  padding: 10px;
  width: 40px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: black;
}
#Home1 .card1 h4 {
  font-size: 13px;
  color: orange;
}
#Home1 .card1 h1 {
  color: orange;
}
#Home1 .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 35%;
  overflow: hidden;
  border: 1px solid;
  border-radius: 30px;
}
#Home1 .card2 .mine {
  width: 100%;
  height: 100%;
}

@media (max-width: 980px) {
  #Home {
    display: none;
  }
  #Home1 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  #Home1 .card1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }
  #Home1 .card1 .skills h4 {
    font-size: 15px;
  }
  #Home1 .card1 .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    gap: 1em;
  }
  #Home1 .card1 .contact_me {
    padding: 3px;
    width: 100px;
    font-size: 15px;
  }
  #Home1 .card1 .skills_1 {
    display: flex;
    gap: 10rem;
    font-size: 15px;
    padding-top: 0px;
  }
  #Home1 .card1 .front_end {
    font-size: 20px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #Home1 .card1 .profile {
    font-size: 15px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #Home1 .card1 .links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #Home1 .card1 .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    padding: 10px;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 20px;
  }
  #Home1 .card1 .links_a {
    display: flex;
    gap: 3rem;
  }
  #Home1 .card1 h4 {
    font-size: 28px;
  }
  #Home1 .card1 h1 {
    font-size: 15px;
    color: orange;
  }
  #Home1 .card2 {
    width: 30%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
  }
  #Home1 .card2 .mine {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 790px) {
  #Home1 {
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 0px;
  }
  #Home1 .card1 {
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
  }
  #Home1 .card1 .skills h4 {
    font-size: 13px;
  }
  #Home1 .card1 .skills {
    padding-top: 13px;
    gap: 0.5em;
  }
  #Home1 .card1 .contact_me {
    padding: 3px;
    width: 100px;
    font-size: 10px;
  }
  #Home1 .card1 .skills_1 {
    gap: 5rem;
    font-size: 15px;
    padding-top: 0px;
  }
  #Home1 .card1 .front_end {
    font-size: 15px;
  }
  #Home1 .card1 .profile {
    font-size: 15px;
  }
  #Home1 .card1 .links_a {
    gap: 3rem;
  }
  #Home1 .card1 .links {
    padding-top: 20px;
    gap: 1.5rem;
  }
  #Home1 .card1 .links a {
    width: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    margin-left: 0px;
  }
  #Home1 .card1 h4 {
    font-size: 28px;
  }
  #Home1 .card1 h1 {
    font-size: 15px;
  }
  #Home1 .card2 {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
  }
  #Home1 .card2 .mine {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 478px) {
  #Home1 {
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 0px;
  }
  #Home1 .card1 {
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-left: 0px;
  }
  #Home1 .card1 .skills h4 {
    font-size: 13px;
  }
  #Home1 .card1 .skills {
    padding-top: 13px;
    gap: 0.5em;
  }
  #Home1 .card1 .contact_me {
    padding: 3px;
    width: 100px;
    font-size: 10px;
  }
  #Home1 .card1 .skills_1 {
    gap: 3rem;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 0px;
  }
  #Home1 .card1 .front_end {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #Home1 .card1 .profile {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #Home1 .card1 .links_a {
    gap: 2rem;
  }
  #Home1 .card1 .links {
    padding-top: 20px;
    gap: 1.5rem;
  }
  #Home1 .card1 .links a {
    padding: 10px;
    width: 40px;
    font-size: 20px;
    margin-left: 0px;
    border-radius: 40px;
  }
  #Home1 .card1 h4 {
    font-size: 28px;
  }
  #Home1 .card1 h1 {
    font-size: 15px;
  }
  #Home1 .card2 {
    width: 60%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
  }
  #Home1 .card2 .mine {
    width: 100%;
    height: 100%;
  }
}
#Contact {
  width: 95%;
  padding: 20px;
  margin-left: 25px;
  margin-top: 50px;
  background-color: black;
}
#Contact .links_1 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 2rem;
}
#Contact .contact_me {
  padding: 5px;
  width: 130px;
  border-radius: 20px;
}
#Contact .linksa {
  display: flex;
  align-items: center;
  color: white;
  gap: 2rem;
}
#Contact .linksa a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  width: 40px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: black;
}
#Contact h1 {
  color: white;
  font-size: 43px;
}
#Contact p {
  font-size: 15px;
  color: white;
}

#Contact1 {
  display: none;
}

@media (max-width: 790px) {
  #Contact {
    margin-left: 10px;
  }
}
@media (max-width: 650px) {
  #Contact {
    display: none;
  }
  #Contact1 {
    display: block;
    width: 92%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 32px;
    background-color: black;
  }
  #Contact1 .links_1 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 1rem;
  }
  #Contact1 .linksa {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3rem;
  }
  #Contact1 .link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #Contact1 .contact_me {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
  }
  #Contact1 .linksa a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid white;
    background-color: black;
  }
  #Contact1 h1 {
    font-size: 20px;
    color: white;
  }
  #Contact1 p {
    font-size: 13px;
    color: white;
  }
}
@media (max-width: 478px) {
  #Contact1 {
    width: 82%;
    margin-left: 39px;
  }
}
#project {
  display: flex;
  flex-direction: column;
}
#project .first_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .second_card {
  display: grid;
  padding: 0 4rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#project .card1_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}
#project .card2_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}
#project .card3_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}
#project .card4_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}
#project .title {
  padding: 15px;
  font-size: 20px;
  color: white;
}
#project .description {
  gap: 13rem;
  padding: 5px;
  display: flex;
  font-size: 15px;
  color: white;
}
#project a {
  font-size: 35px;
  color: white;
}
#project .proj_image {
  width: 80%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .proj_image1 {
  width: 80%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 980px) {
  #project {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #project .first_card {
    display: grid;
    padding: 0rem;
    height: 50%;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  #project .second_card {
    display: grid;
    padding: 0rem;
    height: 50%;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  #project .card1_project {
    height: 95%;
    width: 85%;
  }
  #project .card2_project {
    height: 95%;
    width: 85%;
  }
  #project .card3_project {
    height: 95%;
    width: 85%;
  }
  #project .card4_project {
    height: 95%;
    width: 85%;
  }
  #project .title {
    padding: 10px;
    font-size: 15px;
  }
  #project .description {
    gap: 8rem;
    padding: 2px;
    font-size: 10px;
  }
  #project a {
    font-size: 30px;
  }
}
@media (max-width: 790px) {
  #project .description {
    gap: 5rem;
  }
}
@media (max-width: 478px) {
  #project .description {
    gap: 5rem;
  }
  #project .card1_project {
    height: 95%;
    width: 80%;
  }
  #project .card2_project {
    height: 95%;
    width: 80%;
  }
  #project .card3_project {
    height: 95%;
    width: 80%;
  }
  #project .card4_project {
    height: 95%;
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */